@font-face {
  font-family: "iconfont"; /* Project id 3485231 */
  src: url('iconfont.woff2?t=1656215655788') format('woff2'),
       url('iconfont.woff?t=1656215655788') format('woff'),
       url('iconfont.ttf?t=1656215655788') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-0701shezhi:before {
  content: "\e618";
}

.icon-Set-up:before {
  content: "\e615";
}

.icon-un-setup-o:before {
  content: "\e6ba";
}

.icon-setup:before {
  content: "\e60c";
}

.icon-setup1:before {
  content: "\e672";
}

.icon-setup2:before {
  content: "\e652";
}

